{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fluxo-Login</title>
  <link rel="stylesheet" href="{% static 'autenticacao/css/auth_forms.css' %}">
  <!-- adiciona o favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
  <div class="logo-container">
    <img src="{% static 'images/fluxo_logo.png' %}" alt="Logo" class="img-logo">
  </div>
  <div class="form-container">
    <h2>Login</h2>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Usuário"><br>
    <input type="password" name="senha" placeholder="Senha"><br>
    <button type="submit">Login</button>
  </form>
    <span>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se!</a></span>
  </div>
  <script src="{% static 'autenticacao/js/register.js' %}"></script>
</body>
</html>

