{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fluxo-Cadastro</title>
  <link rel="stylesheet" href="{% static 'autenticacao/css/auth_forms.css' %}">
  <!-- adiciona o favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
  <div class="logo-container">
    <img src="{% static 'images/fluxo_logo.png' %}" alt="Logo" class="img-logo">
  </div>
  <div class="form-container">
    <h2>Cadastre-se!</h2>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <form method="post">  
      {% csrf_token %}
      <label for="username">Nome completo*</label>
      <input type="text" name="username" placeholder="Insira seu nome" required>
      <label for="email">E-mail*</label>
      <input type="email" name="email" placeholder="Insira seu e-mail" required>
      <label for="senha">Senha*</label>
      <input type="password" name="senha" placeholder="Insira a sua senha" required>
      <label for="confirm-password">Confirme sua senha*</label>
      <input type="password" name="confirm-password" placeholder="Insira novamente a sua senha" required>
      <div id="msg-erro"></div>
      <button type="submit">Criar conta</button>
    </form> 
    <span>Ja possui uma conta? <a href="{% url 'login' %}">Faça login</a></span>
  </div>
  <script src="{% static 'autenticacao/js/register.js' %}"></script>
</body>
</html>
