{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  {% block styles %}{% endblock %}
</head>
<body class="bg-[#121318] flex">

    <!-- Sidebar -->
    <div class="group fixed top-0 left-0 h-full bg-[#121318] hover:bg-[#1A1C22] w-20 hover:w-60 transition-all duration-300 z-50 flex flex-col rounded-r-2xl">
  
      <!-- Logo -->
      <div class="flex items-center justify-start h-20 pl-4">
          <img 
            src="{% static 'images/logo_solo.png' %}" 
            alt="Fluxo Logo" 
            class="h-10 w-auto group-hover:hidden"
          >
          <img 
            src="{% static 'images/fluxo_logo.png' %}" 
            alt="Fluxo Logo Completo" 
            class="h-40 w-auto hidden group-hover:block transition-transform duration-300"
          >
      </div>
  
      <!-- Menu -->
      <nav class="flex-1 flex flex-col gap-4 mt-6 align-center">
  
        <!-- Dashboard -->
        <a href="{% url 'dashboard' %}" class="flex items-center gap-4 px-4 py-4 pl-5 transition-colors duration-300 rounded-md
        {% if request.resolver_match.url_name == 'dashboard' %}
        text-white
        {% else %}
        text-gray-300
        {% endif %}
        group-hover:{% if request.resolver_match.url_name == 'dashboard' %}bg-gray-700{% else %}hover:bg-gray-700{% endif %}
        ">
    <div class="
        w-10 h-10 flex items-center justify-center transition-colors duration-300
        {% if request.resolver_match.url_name == 'dashboard' %}
            bg-gray-600 rounded-full
        {% endif %}
        group-hover:bg-transparent
        ">
        <!-- Ícone de Dashboard -->
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 3h7.5v7.5H3V3zm10.5 0H21v4.5h-7.5V3zM3 13.5h7.5V21H3v-7.5zM13.5 10.5H21V21h-7.5V10.5z" />
        </svg>
    </div>
    <span class="hidden group-hover:inline font-medium">Dashboard</span>
</a>


    <a href="{% url 'cartoes' %}" class="flex items-center gap-4 px-4 py-4 pl-5 transition-colors duration-300 rounded-md
        {% if request.resolver_match.url_name == 'cartoes' %}
        text-white
        {% else %}
        text-gray-300
        {% endif %}
        group-hover:{% if request.resolver_match.url_name == 'cartoes' %}bg-gray-700{% else %}hover:bg-gray-700{% endif %}
        ">
    <div class="
        w-10 h-10 flex items-center justify-center transition-colors duration-300
        {% if request.resolver_match.url_name == 'cartoes' %}
            bg-gray-600 rounded-full
        {% endif %}
        group-hover:bg-transparent
        ">
        <!-- Ícone de Cartão de Crédito -->
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 6.75A2.25 2.25 0 014.5 4.5h15a2.25 2.25 0 012.25 2.25v1.5H2.25v-1.5zM21.75 9v8.25a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V9h19.5zM6.75 15.75h1.5" />
        </svg>
    </div>
    <span class="hidden group-hover:inline font-medium">Cartões</span>
</a>


    <a href="{% url 'logout' %}" class="flex items-center gap-4 px-4 py-4 pl-5 transition-colors duration-300 align-end hover:bg-red-600 rounded-md">
        <div class="w-10 h-10 flex items-center justify-center transition-colors duration-300 group-hover:bg-transparent">
            <img src="{% static 'icons/logout.png' %}" alt="">
        </div>
        <span class="hidden group-hover:inline font-medium text-white">Sair</span>
    </a>
    
  
      </nav>
  
    </div>
  
    <!-- Conteúdo principal -->
    <div class="flex-1 p-8 ml-20">
      {% block content %}
      {% endblock %}
    </div>
  
  </body>

  {% block scripts %}{% endblock %}
  
</html>
